.center{
    width: 980px;
    height: 1900px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #FDC9BB;
    background-color: white;
    position: relative;
}

.header {
    width: 850px;
    padding: 50px;
    border: 1px solid #FDC9BB;
    margin: 0 auto;
    background-color: #FDC9BB;
    position: relative;
    /*opacity: .5;*/
}

/* .content {
    width: 850px;
    padding: 50px;
    border: 1px solid black;
    margin: 0 auto;
    background-color: white;
    position: relative;
    opacity: .5;
} */

.title {
    width: 850px;
    height:25px;
    padding: 50px;
    margin: 0 auto;
    position: relative;
}

.footer {
    width: 980px;
    height: 75px;
    padding: 20px;
    margin: 0 auto;
    background-color: #FDC9BB;
    position: bottom;
    padding-bottom: 5px;
    border: 1px solid #FDC9BB;
}

.cupcake{
    float:left;
    width: 190px;
    height:185px;
    margin: 15px 15px 45px 20px;
    padding : 10px;
    display : table-cell;
    text-align: center;
}

*{
    font-family: Impact;
}

span{
    color:#f30c3c;
    font-size: 18px;
}

.bite{
    font-size: 30px;
    clear: both;
    float:left;
    opacity: 0.5;
}

.button2{
    padding : 10px 10px;
    border:1px solid #f30c3c;
    text-decoration: none;
    border-radius: 5px;
    background-color: #f30c3c;
    color:white;
    width: 130px;
    height: 15px;
    display: inline;
    text-align: right;
    font-size: 20px;
}

.li2{
    display: inline;
    text-align: right;
}

#price{
    text-align: right;
}

.button2:hover{
    background-color: #74d600;
    border: 1px solid #74d600;
}

.loc{
    font-size: 30px;
    opacity: 0.5;
    clear:both;
    float:left;
}

.loc2{
    font-size: 30px;
    opacity: 0.5;
    float:right;
}

.tq, .fd, .uq{
    width: 850px;
    height: 350px;
    padding: 50px;
    border: 1px solid #FDC9BB;
    margin: 0 auto; 
}

.tq2, .fd2, .uq2{
    width: 850px;
    height: 350px;
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    opacity: 0.5;
    position: center;
}

.tq:hover{
    background : url(time_square.png) no-repeat;
}

.fd:hover{
    background : url(financial_district.png) no-repeat;
}

.uq:hover{
    background : url(union_square.png) no-repeat;
}

.tq2:hover{
    color:#f30c3c;
}

.fd2:hover{
    color:#f30c3c;
}

.uq2:hover{
    color:#f30c3c;
}

.map1{
    font-size: 30px;
    opacity: 0.5;
    width: 850px;
    height:25px;
    padding: 50px;
    margin: 0 auto;
    position: relative;
}

.map2{
    font-size: 30px;
    width:850px;
    height:25px;
    margin: 0 auto;
    position: relative;
}

.text{
    font-size: 15px;
    padding:10px;
    width:500px;
}

.submit{
    width:100px;
    padding:10px;
}



